@import "../../styles/colors";



.rating-container{
    width: auto;
  position: relative;
  .ratings-data{
    display: flex;
  }
  .stars-container{
    display: flex;
    position: absolute;
    top:0;
    z-index: 1;
  }
  .life-bar-container{
    position: absolute;
    top: 0;
    z-index: 0;
    &.KCOM{
      border-radius: 0 !important;
      border: none !important;
      background-color: $sepia;
      width: 100%;
      height: 100%;
      margin-top: 3px;
    }
  }
}
