.learn-more{
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  .icon{
    margin-left: 0.25rem;
  }
  label{
    font-weight: 600;
    text-decoration: underline;
  }
}

.fine-print{
  display: flex;
}
