@import "src/styles/animation";

.pop-up{
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  z-index: 10000;
  &.veil{
    background-color: rgba(0,0,0,0.35);
  }
  .pop-up-contents-container{
    animation: expandElement 0.75s ease-in forwards;
    margin: 10%;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    height: auto;
    width : 100%;
    min-width: 35rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .seo-item-container{
      padding-top: 1rem;
      padding-bottom: 2rem;
      h1{
        font-size: 2rem;
        position: sticky;
        top: 0;
        background-color:white;
      }
    }
    .pop-up-child-content{
      overflow-y: auto;
    }
    &.mobile{
      margin: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
  }
}
