.main-message-area{
  text-align: center;
}

.stretch-up-down{
  width:100%;
  height:100%
}

.abs-fill{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-tile{
  h2{
    margin: 0.25rem 0 0.75rem 0;
  }
  .filled-bg{
    display: flex;
    flex-direction: column;
  }
  .focal-image{
    position: relative;
    flex-grow: 1;
    .image-element{
      position: absolute;
      background-size: cover;
    }
    .center-image{
      left: 50%;
      transform: translate(-50%, -50%);
      height: 56%;
      top: 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .pod {
      position: absolute;
      .shadow{
        width: 200%;
        height: 120%;
        background-size: cover;
        filter: opacity(0.5);
      }
      .pod-clip{
        border-radius: 100vw;
        overflow: hidden;
        position: absolute;

      }
      .pod-lid{
        background-size: contain;

      }
    }
  }
}


.content-tile{
  font-family: "Mark OT";
  width: 23.7%;
  height: 525px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  min-width: 120px;
  display: flex;
  .lower-image{
    position: absolute;
    left: 0;
    right: -10%;
    bottom: -10%;
    z-index: 1;

    max-height: 60%;
  }
  .upper-element-container{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 0;
  }
  h3{
    font-family: MarkOT, serif;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0 0 1rem 0;
  }
  a.promo-cta{
    :visited{
      color : #3B2B2F;
    }
    :active{

    }
    background-color: #ECE9E4;

  }
  .bg-image-container{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .bg-tiled{
      height: 100%;
      width: 100%;
      background-repeat: repeat;
      background-size: contain;

    }
  }
  .promo-message{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10%;
    bottom: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 10%;
    box-sizing: border-box;
  }
  .upper-element{
    position: absolute;
    z-index: 3;
    left: 60%;
    margin-top: -10%;
  }

  .bg-image{
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
  }
}

