@import "../../styles/colors";

.flag-container {
  padding: 0.5rem 1rem;
  display: inline-flex;
  width: auto;
  position: relative;

  label {
    z-index: 1;
  }

  &.dark-roast {
    background-color: $dark-roast;
    label{
      color: white;
    }
    .stroked {
      stroke: white;
      stroke-width: 0.5px;
      fill: none;
    }
  }

  .stroked {
    stroke-width: 0.5px;
    fill: none;
  }

  &.medium-grey{
    background-color: $medium;
    label{
      color : white !important;
    }
    .filled{
      fill:$medium;
    }

    .stroked{
      stroke : white;
    }
  }

  &.secondaryGold{
    background-color: $secondary-gold;
    label{
      color: $text !important;
    }
    .filled{
      fill:$secondary-gold;
    }
    .stroked{
      stroke: $text;
    }
  }

  &.OK-Status{
    background-color: $ok-status;
    label{
      color:white;
    }
    .filled{
      fill : $ok-status;
    }
    .stroked{
      stroke : $white;
    }
  }

  &.Primary-CTA{
    background-color: $cta-primary;
    label{
      color : $text !important;
    }
    .stroked{
      stroke : white;
    }
    .filled{
      fill : $cta-primary;
    }
  }

  &.Bold-CTA{
    background-color: $bold-cta;
    .filled{
      fill : $bold-cta;
    }
    label{
      color : $text !important;
    }
    .stroked{
      stroke : white;
    }
  }

  &.discount{
    background-color: $discount;
    .filled{
      fill: $discount;
    }
    label{
      color: white !important;
    }
    .stroked{
      stroke : white;
    }
  }

  &.sepia{
    background-color: $sepia;
    label{
      color : $dark-roast !important;
    }
    .filled{
      fill : $sepia;
    }
    .stroked{
      stroke : $dark-roast;
    }
  }

  &.white{
    background-color: white;
    svg{
      filter: drop-shadow(3px 3px 5px #00000073);
    }
    .filled{
      fill : white;

    }
    .stroked{
      stroke : $dark-roast;
    }
    label{
      color : $dark-roast !important;
    }
  }

  &.medium-roast{
    background-color: $medium-roast;
    label{
      color : white;
    }
    .filled{
      fill : $medium-roast;
    }
    .stroked{
      stroke : $white;
    }
  }

  &.latte{
    background-color: $latte;
    label{
      color: $dark-roast !important;
    }
    .stroked{
      stroke: $dark-roast;
    }

    .filled{
      fill: $latte;
    }
  }

  &.light-roast {
    background-color: $light-roast;
    .stroked{
      stroke : white;
    }
    .filled{
      fill: $light-roast;
    }
  }

  &.KSK {
    background-color: $KSK;
    color: white;

    .stroked {
      stroke: white;
    }

    .filled {
      fill: $KSK;
    }
  }

  .square {

  }

  &.circle-flag {
    background-color: transparent !important;
    padding: 0.5rem 0.25rem;
  }

  &.banner {

  }

  .adornment {
    position: absolute;
  }

  .squared-curved {
    display: inline-flex;
    border-radius: 0.5rem 0 0 0;
    inset: 0 0 0 0;
  }

  .tri-bot-l{
    position: absolute;
    bottom: -1rem;
    top: 100%;
    left: 0;
    right: calc(100% - 1rem);
    filter: brightness(0.65);
  }

  .simple-banner, .banner-protrude{
    inset: 0 -2rem 0 100%;
    .banner-tail{
      height: 100%;
    }
  }

  .circle-banner {
    inset: -1rem;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  &.alternating-sharp-round {
    border-radius: 0.5rem 0 0.5rem 0;
  }

  &.curved-rect {
    border-radius: 0.5rem
  }

  label {
    &.heavy {
      font-weight: 800;
    }

    &.regular {
      font-weight: 400;
    }

    &.bold {
      font-weight: 600;
    }

    &.light {
      font-weight: lighter;
    }

  }
}
