@import "../../styles/colors";




.desktop{
  .product-cards-container {
    display: flex;
    flex-direction: row;
  }
}


.mobile{
  .product-cards-container {
    display: flex;
    flex-direction: column;
  }
}
