.features-list-container{
  .description{
    font-size: 1rem;
  }



  .feature-item{
    label{
      font-size: 0.75rem;
    }
    display: flex;
    margin-bottom: 0.5rem;
    .icon{
      margin-right: 0.5rem;
    }
  }
}
