@import "../../styles/colors";

@keyframes slideDown {
  from {margin-top: -2rem }
  to{margin-top: -1rem}
}

.notification{
  display: flex;
  align-items: center;
  p{
    margin-left: 0.5rem;
  }
  &.success{
    p{
      color: $ok-status;
    }
    .stroked{
      stroke: $ok-status;
      stroke-width: 2px;
    }
    .filled{
      fill:$ok-status;
    }
  }
}

.validation-input{
  .notification{
    animation: slideDown 0.75s forwards;
    margin: -1rem 0 1.5rem 0;


    &.error{
      p{
        color: $discount;
      }
      .filled{
        fill : $discount;
      }
      .highlighted{
        fill:white;
      }
    }
  }
}
