@import "../../styles/colors";

.seo-item-container{

  padding: 4rem 10% 8rem 10%;
  .button-area{
    button.k-btn.secondary{
      border-color: white !important;
    }
  }
  p, h2{
    color: $dark-roast;
  }
  p{
    font-size: 1rem;
  }
  h2{
    margin-bottom: 1rem;
  }
  h1.seo-main-title{
    color : $medium-roast;
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  section{
    margin-bottom: 1.5rem;
  }
}
